**/l10n/locale
**/l10n/template.pot

/hugo

.idea

package-lock.json

node_modules
dist

*.log
.DS_Store
.envrc

public/file-picker-config.json
public/demo.html
public/file-picker.js
public/img
public/file-picker.min.js
public/file-picker.js.map
public/file-picker.min.js.map

coverage