image: python:3.8

stages:
  - test
  - build
  - deploy
  - documentation

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  FOLDER: ./

.tests:
  stage: test

  script:
  - echo $FOLDER

  tags:
  -  autoscaling

  only:
    changes:
      - $FOLDER/*
      - $FOLDER/**/*

.builds:
  stage: build

  only:
    refs:
    - master

    changes:
      - $FOLDER/*
      - $FOLDER/**/*

  services:
    - docker:dind

  tags:
  -  docker-in-docker

  variables:
      DOCKER_HOST: tcp://docker:2375
      DOCKER_DRIVER: overlay2

  script: # https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#using-docker-caching
    - cd $FOLDER
    - pip install -r requirements.txt

    - apt update && apt upgrade -y
    - apt install -y apt-transport-https ca-certificates curl gnupg-agent software-properties-common
    - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
    - add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/debian $(lsb_release -cs) stable"
    - apt-get update
    - apt-get install -y docker-ce docker-ce-cli containerd.io

    - docker info
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:latest || true
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest --tag $CI_REGISTRY_IMAGE:$CI_JOB_ID --tag $CI_REGISTRY_IMAGE:latest ./
    - docker build ./
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
    - docker push $CI_REGISTRY_IMAGE:latest

include:
  - 'RDS/circle1_adapters_and_ports/port_owncloud/.gitlab-ci.yml'
  - 'RDS/circle1_adapters_and_ports/port_zenodo/.gitlab-ci.yml'
  - 'RDS/circle2_use_cases/exporter/.gitlab-ci.yml'
  - 'RDS/circle3_central_services/metadata_capture/.gitlab-ci.yml'
  - 'RDS/circle3_central_services/project_manager/.gitlab-ci.yml'
  - 'RDS/circle3_central_services/token_service/.gitlab-ci.yml'


# All available Hugo versions are listed here: https://gitlab.com/pages/hugo/container_registry
hugo:test:
  extends: .tests
  image: registry.gitlab.com/pages/hugo:latest
  
  variables:
    FOLDER: docs/

  script:
  - cd $FOLDER
  - hugo

pages:
  image: registry.gitlab.com/pages/hugo:latest
  stage: documentation
  script:
  - cd docs
  - hugo
  - mv public ../
  artifacts:
    paths:
    - public
  only:
  - master
