config.sh
.cpython
__pycache__
.pytest_cache
openapi.yaml
*-pact.json
_build
.vscode
deploy/secrets.yaml
#values.yaml
values-dev.yaml
kustomization.yaml
.coverage
coverage.xml
coverage
create_certs.sh
configuration.yaml
configuration-dev.yaml
*-demo.yaml
values-osf.yaml
.idea
*.intern
*-ng.yaml
*.enc.yaml
docs/public
.DS_Store