global:
  # will be used for ingress host
  # edit here if you changed it in create_certs.sh and wants to use another domain
  domain: rds.local
  ingress:
    tls:
      secretName: sciebords-tls-public

# Set this to DEBUG and restart your applications to get more informations in logs. Default: INFO
loglevel: INFO
# If you set this to "False", SSL will not be verified in all https requests. Default: "True"
verify_ssl: "True"
# The URL, which you configured in your oauth providers
rds_oauth_redirect_uri: https://owncloud.local/index.php/apps/rds/oauth
proxy:
  http_proxy: ""
  https_proxy: ""
  no_proxy: circle1-port-owncloud,circle1-port-zenodo,circle1-port-openscienceframework,circle1-port-reva,circle2-port-service,circle3-token-storage,circle3-research-manager
namespace: # creates a namespace on their own, if you wants to
  create: false
  name: "research-data-services"

layer0-describo:
  enabled: true
  image:
    tag: main
  environment:
    EMBED_MODE: true
  postgresql:
    postgresqlDatabase: "describo"
    postgresqlUsername: "admin"
    postgresqlPassword: "admin"
    persistance:
      storageClassName: cinderbronze-delete
layer0-web:
  enabled: true
  image:
    tag: main
  environment:
    EMBED_MODE: true
    FLASK_ORIGINS: ["http://localhost:8080", "http://localhost:8085", "http://localhost:8000", "http://localhost:9100"]
    SECRET_KEY: 1234
    OWNCLOUD_URL: http://localhost:8000
    OWNCLOUD_OAUTH_CLIENT_ID: ABC
    OWNCLOUD_OAUTH_CLIENT_SECRET: XYZ
    OWNCLOUD_OAUTH_CLIENT_REDIRECT: https://<your-rds-installation>
    OWNCLOUD_OAUTH_CLIENT_AUTHORIZE_URL: http://localhost:8000/apps/oauth2/authorize
    DESCRIBO_API_ENDPOINT: http://localhost:9000/api/session/application
    DESCRIBO_API_SECRET: IAMSECRET
circle1-port-owncloud:
  enabled: false
  environment:
    # needs to be adjusted to correct values
    ADDRESS: https://owncloud.local/owncloud
    OAUTH_CLIENT_ID: ABC
    OAUTH_CLIENT_SECRET: XYZ
circle1-port-zenodo:
  enabled: false
  environment:
    # needs to be adjusted to correct values
    ADDRESS: https://sandbox.zenodo.org
    OAUTH_CLIENT_ID: ABC
    OAUTH_CLIENT_SECRET: XYZ
circle1-port-openscienceframework:
  enabled: false
  environment:
    ADDRESS: https://accounts.test.osf.io
    API_ADDRESS: https://api.test.osf.io/v2
    # needs to be adjusted to correct values
    OAUTH_CLIENT_ID: ABC
    OAUTH_CLIENT_SECRET: XYZ
circle2-exporter-service: {}
circle2-port-service: {}
circle2-metadata-service: {}
circle3-research-manager: {}
circle3-token-storage: {}
# see: https://github.com/bitnami/charts/tree/master/bitnami/redis-cluster
redis:
  cluster: {}
  redis:
    config: {}
# see: https://github.com/jaegertracing/helm-charts
jaeger: {}