{{- $domains := .Values.domains -}}
{{- if .Values.global }}
    {{- if .Values.global.domains }}
        {{- $domains = .Values.global.domains -}}
    {{- end -}}
{{- end -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: webconfig
data:
    EMBED_MODE: "{{ .Values.environment.EMBED_MODE }}"
    FLASK_ORIGINS: {{ .Values.environment.FLASK_ORIGINS | toJson | squote }}
    SECRET_KEY: "{{ .Values.environment.SECRET_KEY }}"
    OWNCLOUD_URL: "{{ .Values.environment.OWNCLOUD_URL }}"
    OWNCLOUD_OAUTH_CLIENT_ID: "{{ .Values.environment.OWNCLOUD_OAUTH_CLIENT_ID }}"
    OWNCLOUD_OAUTH_CLIENT_SECRET: "{{ .Values.environment.OWNCLOUD_OAUTH_CLIENT_SECRET }}"
    OWNCLOUD_OAUTH_CLIENT_REDIRECT: "{{ .Values.environment.OWNCLOUD_OAUTH_CLIENT_REDIRECT }}"
    OWNCLOUD_OAUTH_CLIENT_AUTHORIZE_URL: "{{ .Values.environment.OWNCLOUD_OAUTH_CLIENT_AUTHORIZE_URL }}"
    DESCRIBO_API_ENDPOINT: "{{ .Values.environment.DESCRIBO_API_ENDPOINT }}"
    DESCRIBO_API_SECRET: "{{ .Values.environment.DESCRIBO_API_SECRET }}"
    VUE_APP_DESCRIBO_URL: "{{ .Values.environment.VUE_APP_DESCRIBO_URL }}"
    VUE_APP_FRONTENDHOST: "{{ .Values.environment.VUE_APP_FRONTENDHOST }}"
    VUE_APP_SOCKETIO_HOST: "{{ .Values.environment.VUE_APP_SOCKETIO_HOST }}"
    SOCKETIO_HOST: "{{ .Values.environment.SOCKETIO_HOST }}"
    SOCKETIO_PATH: "{{ .Values.environment.SOCKETIO_PATH }}"
    VUE_APP_BASE_URL: "{{ .Values.environment.VUE_APP_BASE_URL }}"
    {{- with (mustMergeOverwrite (.Values.global | default dict) .Values.environment) }}
    REDIS_HELPER_HOST: {{ .REDIS_HELPER_HOST | default "redis" | quote }}
    REDIS_HELPER_PORT: {{ .REDIS_HELPER_PORT | default "6379" | quote }}
    REDIS_HOST: {{ .REDIS_HOST | default "redis" | quote }}
    REDIS_PORT: {{ .REDIS_PORT | default "6379" | quote }}
    {{- end }}
    PROMETHEUS_MULTIPROC_DIR: "/tmp"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: domainsconfig
data:
  domains.json: |-
{{- $domains | toJson | nindent 4 }}