.tests_port_zenodo:
    extends: .tests
    variables:
        ZENODO_API_KEY: $GITLAB_ZENODO_API_KEY
        FOLDER: RDS/circle1_adapters_and_ports/port_zenodo

    script:
    - cd $FOLDER
    - pip install -r requirements.txt
    - pip install -r requirements-dev.txt
    - pytest

test:port_zenodo3.6:
    extends: .tests_port_zenodo
    image: python:3.6

test:port_zenodo3.7:
    extends: .tests_port_zenodo
    image: python:3.7

test:port_zenodo3.8:
    extends: .tests_port_zenodo
    image: python:3.8

build:port_zenodo:
    image: python:3.8
    extends: .builds

    needs:
    - port_zenodo3.6
    - port_zenodo3.7
    - port_zenodo3.8

    script: # https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#using-docker-caching
    - cd $FOLDER
    - pip install -r requirements.txt

    - apt update && apt upgrade -y
    - apt install -y apt-transport-https ca-certificates curl gnupg-agent software-properties-common
    - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
    - add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/debian $(lsb_release -cs) stable"
    - apt-get update
    - apt-get install -y docker-ce docker-ce-cli containerd.io

    - docker info
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:latest || true
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME --tag $CI_REGISTRY_IMAGE:latest ./
    - docker build ./
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
    - docker push $CI_REGISTRY_IMAGE:latest
    
