.port_zenodo:
  variables:
    ZENODO_API_KEY: $GITLAB_ZENODO_API_KEY
    FOLDER: RDS/circle1_adapters_and_ports/port_zenodo

.tests_port_zenodo:
  extends:
    - .tests
    - .port_zenodo

test:port_zenodo3.8:
  extends: .tests_port_zenodo
  image: zivgitlab.uni-muenster.de/sciebo-rds/dependency_proxy/containers//python:3.8

build:port_zenodo:
  needs:
    - test:port_zenodo3.8
  extends:
    - .builds
    - .port_zenodo

  only:
    changes:
      - RDS/circle1_adapters_and_ports/port_zenodo/*
      - RDS/circle1_adapters_and_ports/port_zenodo/**/*
      - RDS/circle2_use_cases/interface_port_metadata.yml
      - RDS/circle3_central_services/interface_port_token_storage.yml

doc:port_zenodo:
  needs:
    - build:port_zenodo
  image: zivgitlab.uni-muenster.de/sciebo-rds/dependency_proxy/containers//python:3.8
  extends:
    - .documentation
    - .port_zenodo
