.port_zenodo:
    variables:
        ZENODO_API_KEY: $GITLAB_ZENODO_API_KEY
        FOLDER: RDS/circle1_adapters_and_ports/port_zenodo

.tests_port_zenodo:
    extends: 
    - .tests
    - .port_zenodo

    only:
        changes:
        - RDS/circle1_adapters_and_ports/port_zenodo/*
        - RDS/circle1_adapters_and_ports/port_zenodo/**/*

test:port_zenodo3.6:
    extends: .tests_port_zenodo
    image: python:3.6

test:port_zenodo3.7:
    needs:
        - port_zenodo3.6
    extends: .tests_port_zenodo
    image: python:3.7

test:port_zenodo3.8:
    needs:
        - port_zenodo3.7
    extends: .tests_port_zenodo
    image: python:3.8

build:port_zenodo:
    image: python:3.8
    extends: 
    - .builds
    - .port_zenodo

    needs:
    - test:port_zenodo3.6
    - test:port_zenodo3.7
    - test:port_zenodo3.8
