[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pactman = "*"
pydoc-markdown = "*"
pytest-cov = "*"

[packages]
requests = "*"
jaeger-client = "*"
gevent = "*"
python-jsonschema-objects = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
connexion-plus = "*"
flask-cors = "*"
webdavclient3 = "*"

[requires]
python_version = "3.6"
