[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-socketio = "==5.1.1"
python-socketio = "==5.4.0"
python-engineio = "==4.2.1"
flask-login = "*"
requests = "*"
eventlet = "==0.30.2"
python-dotenv = "*"
flask-cors = "*"
pyjwt = {extras = ["crypto"],version = "*"}
flask-session = "*"
prometheus-flask-exporter = "*"
redis-pubsub-dict-wo-cluster = "*"
redis = "==4.2.2"
werkzeug = "*"

[dev-packages]
black = "==20.8b1"
pytest-cov = "*"

[requires]
python_version = "3.8"
