apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
generatorOptions:
  # disableNameSuffixHash is true disables the default behavior of adding a
  # suffix to the names of generated resources that is a hash of
  # the resource contents.
  disableNameSuffixHash: true
configMapGenerator:
  - name: proxy
    literals:
      - http_proxy=""
      - HTTP_PROXY=""
      - https_proxy=""
      - HTTPS_PROXY=""
      - no_proxy=""
      - NO_PROXY=""
  - name: globalenvvar
    literals:
      # the URL, which you enter in your oauth providers to redirect to.
      - RDS_OAUTH_REDIRECT_URI=https://localhost/owncloud/index.php/apps/rds/oauth
      - LOGLEVEL=INFO
      - VERIFY_SSL=True