circle1-port-owncloud:
  environment:
    OWNCLOUD_INSTALLATION_URL: https://localhost/owncloud
    OWNCLOUD_OAUTH_CLIENT_ID: ABC
    OWNCLOUD_OAUTH_CLIENT_SECRET: XYZ
circle1-port-zenodo:
  environment:
    ZENODO_ADDRESS: https://sandbox.zenodo.org
    ZENODO_OAUTH_CLIENT_ID: ABC
    ZENODO_OAUTH_CLIENT_SECRET: XYZ
circle2-exporter-service:
  environment:
    FLASK_HOST_ADDRESS: https://sciebords-dev.org/exporter
circle2-port-service:
  environment:
    FLASK_HOST_ADDRESS: https://sciebords-dev.org/port-service
circle2-metadata-service:
  environment:
    FLASK_HOST_ADDRESS: https://sciebords-dev.org/metadata
circle3-research-manager: {}
circle3-token-storage:
  environment:
    FLASK_HOST_ADDRESS: https://sciebords-dev.org/port-service
redis: {}
jaeger: {}