charts:
  extends: .documentation
  image: zivgitlab.wwu.io/ulb/devops/skaffold:main
  script:
    - mkdir -p ./docs/static/charts
    - helm package charts/* --destination ./docs/static/charts
    - helm repo index --url https://www.research-data-services.org/charts ./charts/
    - mv index.yaml ./docs/static/charts/index.yaml

deploy:
  extends: .deploy
  image: zivgitlab.wwu.io/ulb/devops/skaffold:main
  script:
    - mkdir -p ~/.config/sops/age
    - cat "$AGE_KEYS" | base64 -d - > ~/.config/sops/age/keys.txt
    - mkdir -p ~/.kube
    - cat "$KUBE_CONFIG" | base64 -d - > ~/.kube/config
    - export KUBECONFIG=~/.kube/config
    - helm secrets upgrade -i charts/all sciebords --values $HELM_DEPLOY_VALUES -n sciebo-rds-dev
