apiVersion: v1
kind: ConfigMap
metadata:
  name: layer3tokenconfig
  namespace: {{ .Release.Namespace  }}
data:
    {{- with (mustMergeOverwrite (.Values.global | default dict) .Values.environment) }}
    REDIS_HELPER_HOST: {{ .REDIS_HELPER_HOST | default "redis" | quote }}
    REDIS_HELPER_PORT: {{ .REDIS_HELPER_PORT | default "6379" | quote }}
    REDIS_HOST: {{ .REDIS_HOST | default "redis" | quote }}
    REDIS_PORT: {{ .REDIS_PORT | default "6379" | quote }}
    REDIS_CHANNEL: {{ .REDIS_CHANNEL | default "TokenStorage_Refresh_Token" | quote }}
    {{- end }}
    use_inmemory_as_fallover: {{ .Values.environment.IN_MEMORY_AS_FAILOVER | quote }}