.central_service_token_storage:
  variables:
    FOLDER: RDS/circle3_central_services/token_storage

.tests_central_service_token_storage:
  extends:
    - .tests
    - .central_service_token_storage

  artifacts:
    untracked: true
    expire_in: 180 days
    paths:
      - $FOLDER/user_refresh.token

  services:
    - name: selenium/standalone-firefox
      alias: selenium

test:central_service_token_storage3.8:
  image: zivgitlab.uni-muenster.de/sciebo-rds/dependency_proxy/containers/python:3.8
  extends: .tests_central_service_token_storage

build:central_service_token_storage:
  needs:
    - test:central_service_token_storage3.8
  extends:
    - .builds
    - .central_service_token_storage

  only:
    changes:
      - RDS/circle3_central_services/token_storage/*
      - RDS/circle3_central_services/token_storage/**/*

doc:central_service_token_storage:
  needs:
    - build:central_service_token_storage
  image: zivgitlab.uni-muenster.de/sciebo-rds/dependency_proxy/containers/python:3.8
  extends:
    - .documentation
    - .central_service_token_storage
