[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pactman = "*"
pygount = "*"
pydoc-markdown = "*"
pytest-cov = "*"
selenium = "*"

[packages]
requests = "*"
gevent = "*"
python-jsonschema-objects = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
connexion-plus = "*"
apscheduler = "*"
redis-pubsub-dict = "*"

[requires]
python_version = "3.8"
