.central_service_token_storage:
  variables:
    FOLDER: RDS/layer3_central_services/token_storage

.tests_central_service_token_storage:
  extends:
    - .tests
    - .central_service_token_storage
  artifacts:
    untracked: true
    expire_in: 180 days
    paths:
      - $FOLDER/user_refresh.token
  services:
    - name: zivgitlab.uni-muenster.de/sciebo-rds/dependency_proxy/containers/selenium/standalone-firefox
      alias: selenium

test:central_service_token_storage:
  extends: .tests_central_service_token_storage

build:central_service_token_storage:
  needs:
    - test:central_service_token_storage
  extends:
    - .builds
    - .central_service_token_storage

doc:central_service_token_storage:
  needs:
    - build:central_service_token_storage
  extends:
    - .documentation
    - .central_service_token_storage
