.use_case_exporter:
  variables:
    FOLDER: RDS/layer2_use_cases/exporter

.tests_use_case_exporter:
  extends:
    - .tests
    - .use_case_exporter

test:use_case_exporter:
  extends: .tests_use_case_exporter

build:use_case_exporter:
  needs:
    - test:use_case_exporter
  extends:
    - .builds
    - .use_case_exporter

doc:use_case_exporter:
  needs:
    - build:use_case_exporter
  extends:
    - .documentation
    - .use_case_exporter
