.use_case_port_service:
  variables:
    FOLDER: RDS/layer2_use_cases/port

.tests_use_case_port_service:
  extends:
    - .tests
    - .use_case_port_service

test:use_case_port_service:
  extends: .tests_use_case_port_service

build:use_case_port_service:
  needs:
    - test:use_case_port_service
  extends:
    - .builds
    - .use_case_port_service

doc:use_case_port_service:
  needs:
    - build:use_case_port_service
  extends:
    - .documentation
    - .use_case_port_service
