[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pactman = "*"
pygount = "*"
pydoc-markdown = "==2.1.3"
pytest-cov = "*"

[packages]
requests = "*"
gevent = "*"
python-jsonschema-objects = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
connexion-plus = "*"
openapi-spec-validator = "<0.3"
pyjwt = "*"
research-data-services-common = {extras = ["flask"], version = "==0.48"}


[requires]
python_version = "3.8"
